<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product List</title>
  </head>
  <body>
    <h1>Product list</h1>

    <table>
      <tr>
        <th>#</th>
        <th>NAME</th>
        <th>PRICE</th>
        <th>DESCRIPTION</th>
      </tr>
      <tr th:each="prod : ${products}">
        <td th:text="${prod.id}">---</td>
        <td th:text="${prod.name}">---</td>
        <td th:text="${prod.price}">---</td>
        <td th:text="${prod.description}">---</td>
      </tr>
    </table>
  </body>
</html>
